<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InsuranceGoSmoke.ru: Подтвердите ваш электронный адрес</title>
    </head>
    <body>
        <table bgcolor="#F4F4F5" border="0" cellpadding="0" cellspacing="0" width="100%" 
            style="border-collapse:collapse;word-break:normal;word-wrap:normal">
            <tbody>
                <tr>
                    <td align="center" style="padding-bottom:48px;word-break:normal;word-wrap:normal">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="box-sizing:border-box;max-width:600px;width:100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:0 20px 0 20px;word-break:normal;word-wrap:normal">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:536px;width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:20px 0 16px 0;word-break:normal;word-wrap:normal">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="color:#EB503B;padding:44px 0 44px 0;font-size:26px;font-weight:600;line-height:36px;word-break:normal;word-wrap:normal">
                                                                        InsuranceGoSmoke
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="word-break:normal;word-wrap:normal">
                                                        <table bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="box-sizing:border-box;max-width:600px;width:100%;padding:40px 40px 40px 40px;border-radius:12px;box-shadow:0px 12px 20px -8px rgba(0,0,0,0.10);">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" style="color:#09090B;font-size:25px;font-weight:700;line-height:30px;word-break:normal;word-wrap:normal;text-transform: uppercase;">
                                                                        Подтвердите электронную почту
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="color:#09090B;font-size:16px;font-weight:400;line-height:20px;padding: 24px 0 24px 0;word-break:normal;word-wrap:normal">
                                                                        Для подтверждения вашего электронного адреса, пожалуйста, перейдите по <a href="{{Link}}" target="_blank" style="color:#2563EB;text-decoration:none;">ссылке</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="word-break:normal;word-wrap:normal">
                                                                        <table align="left" style="word-break:normal;word-wrap:normal">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" bgcolor="#09090B" style="border-radius:12px;word-break:normal;word-wrap:normal">
                                                                                        <a href="{{Link}}" target="_blank" style="box-sizing:border-box;color:#FAFAFA;display:inline-block;font-size:16px;font-weight:normal;line-height:24px;max-width:100%;padding:12px 26px 12px 26px;text-align:center;text-decoration:none;vertical-align:top;word-break:normal;word-wrap:normal" data-link-id="10" rel="noopener noreferrer">
                                                                                            Подтвердить
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="color:#71717A;font-size:16px;font-weight:normal;line-height:20px;padding:24px 0 0 0;word-break:normal;word-wrap:normal">
                                                                        Если вы не регистрировали этот электронный адрес на <a href="https://InsuranceGoSmoke.ru/" target="_blank" style="color:#2563EB;text-decoration:none;">kortros.ru</a>, проигнорируйте это письмо
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="box-sizing:border-box;max-width:600px;width:100%;padding:40px 40px 40px 40px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color:#71717A;font-size:25px;font-weight:700;line-height:30px;word-break:normal;word-wrap:normal;text-transform: uppercase;">
                                                                    InsuranceGoSmoke
                                                                </td>
                                                            </tr>
                                                           
                                                            <tr>
                                                                <td style="border-bottom:1px solid #E4E4E7;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" style="padding:16px 0 0 0;color:#71717A;font-size:13px;font-weight:400;line-height:18px;word-break:normal;word-wrap:normal">
                                                                    2024 © InsuranceGoSmoke все права защищены
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>